.group-child22,
.group-child23 {
  position: absolute;
  top: 371.92px;
  left: 346.87px;
  background-color: var(--color-springgreen);
  width: 6.25px;
  height: 6.17px;
}
.group-child23 {
  top: 824.83px;
  left: 266.84px;
}
.image-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 694px;
  height: 750.32px;
  object-fit: cover;
}
.group-child24 {
  position: absolute;
  top: 216.43px;
  left: 244.34px;
  background-color: var(--color-springgreen);
  width: 6.25px;
  height: 3.7px;
}
.group-child25,
.group-child26 {
  position: absolute;
  top: 231.24px;
  left: 153.05px;
  background-color: #37fc05;
  width: 10px;
  height: 7.4px;
}
.group-child26 {
  top: 207.79px;
  left: 219.33px;
  background-color: #35f405;
  width: 8.75px;
  height: 4.94px;
}
.group-child27,
.group-child28 {
  position: absolute;
  top: 343.54px;
  left: 250.59px;
  background-color: #57f90b;
  width: 11.25px;
  height: 6.17px;
}
.group-child28 {
  top: 336.14px;
  left: 108.04px;
  background-color: #61f804;
  width: 10px;
  height: 4.94px;
}
.group-child29,
.group-child30 {
  position: absolute;
  top: 141.15px;
  left: 204.32px;
  background-color: #24f103;
  width: 10px;
  height: 6.17px;
}
.group-child30 {
  top: 117.71px;
  left: 239.34px;
  background-color: #25ed05;
  width: 11.25px;
}
.group-child31 {
  position: absolute;
  top: 28.85px;
  left: 209.32px;
  background-color: var(--color-lawngreen-100);
  width: 10px;
  height: 8.64px;
}
.group-child32 {
  position: absolute;
  top: 184.35px;
  left: 296.86px;
  background-color: #47eb0e;
  width: 8.75px;
  height: 7.4px;
}
.group-child33 {
  position: absolute;
  top: 236.18px;
  left: 289.35px;
  background-color: var(--color-lawngreen-200);
  width: 11.25px;
  height: 8.64px;
}
.group-child34 {
  position: absolute;
  top: 307.75px;
  left: 418.15px;
  background-color: #19f406;
  width: 8.75px;
  height: 7.4px;
}
.group-child35,
.group-child36 {
  position: absolute;
  top: 355.88px;
  left: 423.15px;
  background-color: #2ef20e;
  width: 10px;
  height: 9.87px;
}
.group-child36 {
  top: 239.88px;
  left: 604.47px;
  background-color: #00f519;
  width: 8.75px;
}
.group-child37,
.group-child38 {
  position: absolute;
  top: 269.5px;
  left: 619.47px;
  background-color: #04ee0d;
  width: 11.25px;
  height: 8.64px;
}
.group-child38 {
  top: 290.48px;
  left: 584.46px;
  background-color: #51f304;
  width: 7.5px;
  height: 7.4px;
}
.group-child39,
.group-child40 {
  position: absolute;
  top: 343.54px;
  left: 493.18px;
  background-color: #2ce50d;
  width: 6.25px;
  height: 6.17px;
}
.group-child40 {
  top: 374.39px;
  left: 364.38px;
  background-color: #55ef0c;
  width: 10px;
  height: 9.87px;
}
.group-child41,
.group-child42,
.group-child43 {
  position: absolute;
  top: 399.07px;
  left: 423.15px;
  background-color: #06f31e;
  width: 11.25px;
  height: 8.64px;
}
.group-child42,
.group-child43 {
  top: 422.52px;
  left: 186.82px;
  background-color: #0dee16;
  width: 10px;
}
.group-child43 {
  top: 465.71px;
  left: 273.1px;
  background-color: #3aff36;
  height: 9.87px;
}
.group-child44,
.group-child45 {
  position: absolute;
  top: 564.44px;
  left: 199.32px;
  background-color: #47f609;
  width: 10px;
  height: 8.64px;
}
.group-child45 {
  top: 544.69px;
  left: 291.85px;
  background-color: #08f403;
  width: 8.75px;
}
.group-child46,
.group-child47 {
  position: absolute;
  top: 690.32px;
  left: 211.83px;
  background-color: #0aff05;
  width: 10px;
  height: 9.87px;
}
.group-child47 {
  top: 638.48px;
  left: 275.6px;
  background-color: #0ce82f;
  height: 8.64px;
}
.rectangle-parent3 {
  position: absolute;
  top: 108px;
  left: 183px;
  width: 694px;
  height: 831px;
}
.group-child48,
.image-1-icon10 {
  position: absolute;
  top: 0;
  height: 48px;
}
.image-1-icon10 {
  left: 0;
  width: 1277px;
  object-fit: cover;
}
.group-child48 {
  left: 22.95px;
  background-color: var(--color-goldenrod);
  width: 288.32px;
}
.div10,
.ihc10 {
  position: absolute;
  top: 4.36px;
  left: 47.89px;
  display: inline-block;
  width: 62.85px;
  height: 38.4px;
}
.div10 {
  top: 11.35px;
  left: 5.99px;
  font-size: var(--font-size-5xl);
  width: 32.92px;
  height: 25.31px;
}
.image-1-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1277px;
  height: 48px;
  cursor: pointer;
}
.group-child49 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #fafafa;
  width: 316px;
  height: 111px;
}
.shows-indian {
  margin: 0;
}
.shows-indian-states-container {
  position: absolute;
  top: 0;
  left: 44.66px;
  display: inline-block;
  width: 263.52px;
  height: 82.08px;
}
.group-child50 {
  position: absolute;
  top: 11.19px;
  left: 15.63px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lawngreen-100);
  width: 25.68px;
  height: 16.79px;
}
.group-child51,
.rectangle-parent4 {
  position: absolute;
  top: 73px;
  left: 950px;
  width: 316px;
  height: 111px;
}
.group-child51 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #f2d19e;
  width: 205px;
  height: 52px;
}
.country-visitors {
  position: absolute;
  top: 10px;
  left: 11px;
}
.group-child52,
.rectangle-parent5 {
  position: absolute;
  width: 205px;
  height: 52px;
}
.rectangle-parent5 {
  top: 223px;
  left: 991px;
  font-size: var(--font-size-5xl);
}
.group-child52 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #afebf9;
}
.bookings {
  position: absolute;
  top: 10px;
  left: 50px;
}
.rectangle-parent6 {
  position: absolute;
  top: 300px;
  left: 995px;
  width: 205px;
  height: 52px;
  font-size: var(--font-size-5xl);
}
.macbook-pro-14-2-child {
  position: absolute;
  top: 340px;
  left: 464px;
  background-color: var(--color-lawngreen-200);
  width: 25px;
  height: 21px;
  cursor: pointer;
}
.macbook-pro-14-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
