.screenshot-2023-09-15-at-233 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1277px;
  height: 161px;
  object-fit: cover;
}
.group-child53 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 108px;
  height: 28px;
}
.feedback {
  position: absolute;
  top: 3px;
  left: 7px;
}
.rectangle-parent7 {
  position: absolute;
  top: 125px;
  left: 1157px;
  width: 108px;
  height: 28px;
}
.macbook-pro-14-1-child {
  position: absolute;
  top: 124px;
  left: 1034px;
  border-radius: var(--br-5xs);
  background-color: #fdfbfb;
  width: 113px;
  height: 27px;
}
.button-child,
.contact-us {
  position: absolute;
  top: 127px;
  left: 1039px;
}
.button-child {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: #da8537;
  width: 97px;
  height: 27px;
}
.about-us {
  position: absolute;
  top: 1px;
  left: 4px;
  display: inline-block;
  width: 89px;
  height: 25px;
}
.button {
  position: absolute;
  top: 123px;
  left: 932px;
  width: 97px;
  height: 27px;
}
.group-child55,
.rectangle-parent8 {
  position: absolute;
  top: 136px;
  left: 1384px;
  width: 108px;
  height: 28px;
}
.group-child55 {
  top: 0;
  left: 0;
  background-color: #e0dada;
  width: 966px;
  height: 391px;
}
.image-3-icon,
.image-4-icon,
.image-5-icon {
  position: absolute;
  top: 26.29px;
  left: 749.02px;
  width: 178.34px;
  height: 152.79px;
  object-fit: cover;
}
.image-3-icon,
.image-4-icon {
  top: 193.86px;
  left: 255.62px;
  width: 334.38px;
  height: 169.21px;
}
.image-3-icon {
  top: 26.29px;
  left: 20.81px;
  width: 219.95px;
  height: 152.79px;
}
.image-2-icon1,
.image-5-icon1,
.image-6-icon,
.image-7-icon {
  position: absolute;
  top: 24.64px;
  left: 255.62px;
  width: 219.95px;
  height: 154.43px;
  object-fit: cover;
}
.image-2-icon1,
.image-6-icon,
.image-7-icon {
  top: 193.86px;
  left: 20.81px;
  height: 169.21px;
}
.image-6-icon,
.image-7-icon {
  top: 24.64px;
  left: 490.43px;
  width: 243.73px;
  height: 154.43px;
}
.image-7-icon {
  top: 193.86px;
  left: 590px;
  width: 337.36px;
  height: 169.21px;
}
.rectangle-parent9,
.the-culture-and {
  position: absolute;
  top: 219px;
  left: 172px;
  width: 966px;
  height: 391px;
}
.the-culture-and {
  top: 640px;
  left: 45px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 1221px;
  height: 119px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
  mix-blend-mode: darken;
}
.group-child56 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-plum);
  width: 126px;
  height: 50px;
}
.explore {
  position: absolute;
  top: 13px;
  left: 28px;
}
.rectangle-parent10 {
  position: absolute;
  top: 779px;
  left: 598px;
  width: 126px;
  height: 50px;
  cursor: pointer;
  color: #100101;
}
.screenshot-2023-09-16-at-1050 {
  position: absolute;
  top: 849px;
  left: 0;
  width: 1512px;
  height: 133px;
  object-fit: cover;
}
.group-child57 {
  position: absolute;
  top: 3.79px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-plum);
  width: 86px;
  height: 33.21px;
}
.lang {
  position: absolute;
  top: 0;
  left: 7.62px;
  display: inline-block;
  width: 69.67px;
  height: 32.26px;
}
.rectangle-parent11 {
  position: absolute;
  top: 215px;
  left: 0;
  width: 86px;
  height: 37px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inconsolata);
}
.group-child58,
.help {
  position: absolute;
  top: 0;
}
.group-child58 {
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-plum);
  width: 95px;
  height: 40px;
}
.help {
  left: 15px;
}
.rectangle-parent12 {
  position: absolute;
  top: 215px;
  left: 1417px;
  width: 95px;
  height: 40px;
  font-size: var(--font-size-13xl);
}
.macbook-pro-14-1 {
  position: relative;
  background-color: #e0ddc3;
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
