.group-child13,
.image-1-icon8 {
  position: absolute;
  top: 0;
  height: 55px;
}
.image-1-icon8 {
  left: 0;
  width: 1277px;
  object-fit: cover;
}
.group-child13 {
  left: 22.95px;
  background-color: var(--color-goldenrod);
  width: 289.32px;
}
.ihc8 {
  position: absolute;
  top: 5px;
  left: 47.89px;
  display: inline-block;
  width: 62.85px;
  height: 44px;
}
.group-child14 {
  position: absolute;
  top: 9px;
  left: 3.99px;
  background-color: var(--color-gainsboro-100);
  width: 37.91px;
  height: 37px;
}
.div8 {
  position: absolute;
  top: 13px;
  left: 5.99px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 32.92px;
  height: 29px;
}
.image-1-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1277px;
  height: 55px;
  cursor: pointer;
  font-size: var(--font-size-17xl);
}
.image-21-icon8,
.image-22-icon8,
.screenshot-2023-09-18-at-103332 {
  position: absolute;
  top: 0;
  left: 479.87px;
  width: 318.25px;
  height: 207px;
  object-fit: cover;
}
.image-21-icon8,
.screenshot-2023-09-18-at-103332 {
  left: 798.13px;
  width: 478.88px;
}
.image-21-icon8 {
  left: 0;
  width: 477.88px;
}
.image-22-parent6,
.image-23-icon {
  position: absolute;
  top: 55px;
  left: 0;
  width: 1277px;
  height: 207px;
}
.image-23-icon {
  top: 0;
  width: 1272px;
  height: 720px;
  object-fit: cover;
  opacity: 0.5;
}
.festivals {
  position: absolute;
  top: 72.29px;
  left: 498.86px;
  font-size: var(--font-size-45xl);
  text-decoration: underline;
  display: inline-block;
  width: 274.27px;
  height: 109.88px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.christmas,
.eid,
.ganesha-chaturthi,
.holi,
.shivaratri {
  position: absolute;
  top: 229px;
  left: 773px;
  display: inline-block;
  width: 473px;
  height: 46px;
}
.christmas,
.eid,
.holi,
.shivaratri {
  top: 617px;
  width: 158px;
  height: 58px;
}
.christmas,
.holi,
.shivaratri {
  top: 503px;
  width: 171px;
  height: 70px;
}
.christmas,
.shivaratri {
  top: 410px;
  width: 346px;
  height: 46px;
}
.shivaratri {
  top: 319px;
  width: 287px;
  height: 58px;
}
.image-23-parent {
  position: absolute;
  top: 262px;
  left: 5px;
  width: 1272px;
  height: 720px;
}
.deepawali {
  top: 491px;
}
.deepawali,
.deepawali2,
.ram-navami {
  position: absolute;
  left: 131px;
}
.deepawali2 {
  top: 491px;
  cursor: pointer;
}
.ram-navami {
  top: 899px;
}
.dussehra,
.krishna-janmashtami,
.raksha-bandhan {
  position: absolute;
  top: 797px;
  left: 131px;
}
.dussehra,
.raksha-bandhan {
  top: 695px;
}
.raksha-bandhan {
  top: 593px;
}
.macbook-pro-14-4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
