.group-child,
.image-1-icon {
  position: absolute;
  top: 0;
  height: 55px;
}
.image-1-icon {
  left: 0;
  width: 1277px;
  object-fit: cover;
}
.group-child {
  left: 22.95px;
  background-color: var(--color-goldenrod);
  width: 289.32px;
}
.ihc {
  position: absolute;
  top: 5px;
  left: 47.89px;
  display: inline-block;
  width: 62.85px;
  height: 44px;
}
.group-item {
  position: absolute;
  top: 9px;
  left: 3.99px;
  background-color: var(--color-gainsboro-100);
  width: 37.91px;
  height: 37px;
}
.div {
  position: absolute;
  top: 13px;
  left: 5.99px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 32.92px;
  height: 29px;
}
.image-1-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1277px;
  height: 55px;
  cursor: pointer;
}
.image-21-icon,
.image-22-icon,
.screenshot-2023-09-18-at-1033 {
  position: absolute;
  top: 0;
  left: 479.87px;
  width: 318.25px;
  height: 202px;
  object-fit: cover;
}
.image-21-icon,
.screenshot-2023-09-18-at-1033 {
  left: 798.13px;
  width: 478.88px;
}
.image-21-icon {
  left: 0;
  width: 477.88px;
}
.image-22-parent,
.taj-mahal {
  position: absolute;
  top: 55px;
  left: 0;
  width: 1277px;
  height: 202px;
}
.taj-mahal {
  top: 310px;
  left: 486px;
  font-size: var(--font-size-45xl);
  text-decoration: underline;
  display: inline-block;
  width: 304px;
  height: 87px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.image-36-icon,
.image-37-icon {
  position: absolute;
  top: 444px;
  left: 862px;
  width: 281px;
  height: 210px;
  object-fit: cover;
}
.image-37-icon {
  top: 694px;
  width: 282px;
}
.the-taj-mahal {
  position: absolute;
  top: 468px;
  left: 79px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 668px;
}
.macbook-pro-14-12 {
  position: relative;
  background-color: var(--color-mistyrose);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
