.group-child7,
.image-1-icon5 {
  position: absolute;
  top: 0;
  height: 55px;
}
.image-1-icon5 {
  left: 0;
  width: 1277px;
  object-fit: cover;
}
.group-child7 {
  left: 22.95px;
  background-color: var(--color-goldenrod);
  width: 289.32px;
}
.ihc5 {
  position: absolute;
  top: 5px;
  left: 47.89px;
  display: inline-block;
  width: 62.85px;
  height: 44px;
}
.group-child8 {
  position: absolute;
  top: 9px;
  left: 3.99px;
  background-color: var(--color-gainsboro-100);
  width: 37.91px;
  height: 37px;
}
.div5 {
  position: absolute;
  top: 13px;
  left: 5.99px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 32.92px;
  height: 29px;
}
.image-1-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1277px;
  height: 55px;
}
.image-21-icon5,
.image-22-icon5,
.screenshot-2023-09-18-at-103320 {
  position: absolute;
  top: 0;
  left: 477.99px;
  width: 317.01px;
  height: 197px;
  object-fit: cover;
}
.image-21-icon5,
.screenshot-2023-09-18-at-103320 {
  left: 795px;
  width: 477px;
}
.image-21-icon5 {
  left: 0;
  width: 476.01px;
}
.charkula-dance,
.image-22-parent3 {
  position: absolute;
  top: 55px;
  left: 5px;
  width: 1272px;
  height: 197px;
}
.charkula-dance {
  top: 278px;
  left: 383px;
  font-size: var(--font-size-45xl);
  text-decoration: underline;
  display: inline-block;
  width: 509px;
  height: 124px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.image-40-icon,
.image-41-icon {
  position: absolute;
  top: 436px;
  left: 896px;
  width: 300px;
  height: 203px;
  object-fit: cover;
}
.image-41-icon {
  top: 683px;
  height: 208px;
}
.charkula-dance-is {
  position: absolute;
  top: 428px;
  left: 48px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 766px;
}
.macbook-pro-14-7 {
  position: relative;
  background-color: var(--color-mistyrose);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
