.group-child11,
.image-1-icon7 {
  position: absolute;
  top: 0;
  height: 55px;
}
.image-1-icon7 {
  left: 0;
  width: 1277px;
  object-fit: cover;
}
.group-child11 {
  left: 22.95px;
  background-color: var(--color-goldenrod);
  width: 289.32px;
}
.ihc7 {
  position: absolute;
  top: 5px;
  left: 47.89px;
  display: inline-block;
  width: 62.85px;
}
.group-child12 {
  position: absolute;
  top: 9px;
  left: 3.99px;
  background-color: var(--color-gainsboro-100);
  width: 37.91px;
  height: 37px;
}
.div7 {
  position: absolute;
  top: 13px;
  left: 5.99px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 32.92px;
}
.image-1-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1277px;
  height: 55px;
  cursor: pointer;
}
.image-21-icon7,
.image-22-icon7,
.screenshot-2023-09-18-at-103328 {
  position: absolute;
  top: 0;
  left: 479.87px;
  width: 318.25px;
  height: 192px;
  object-fit: cover;
}
.image-21-icon7,
.screenshot-2023-09-18-at-103328 {
  left: 798.13px;
  width: 478.88px;
}
.image-21-icon7 {
  left: 0;
  width: 477.88px;
}
.image-22-parent5,
.image-32 {
  position: absolute;
  top: 55px;
  left: 0;
  width: 1277px;
  height: 192px;
}
.image-32 {
  top: 0;
  width: 1280px;
  height: 617px;
}
.dipawali,
.diwali-also-known {
  position: absolute;
  top: 184.08px;
  left: 60px;
  display: inline-block;
  width: 801px;
  height: 321.91px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.dipawali {
  top: 18.5px;
  left: 512px;
  font-size: var(--font-size-45xl);
  text-decoration: underline;
  width: 255px;
  height: 71.23px;
  -webkit-text-stroke: 1px #000;
}
.image-33-icon,
.image-34-icon {
  position: absolute;
  top: 105.45px;
  left: 938px;
  width: 279px;
  height: 207.21px;
  object-fit: cover;
}
.image-34-icon {
  top: 332.09px;
}
.image-32-parent {
  position: absolute;
  top: 293px;
  left: 0;
  width: 1280px;
  height: 617px;
  font-size: var(--font-size-5xl);
}
.macbook-pro-14-5 {
  position: relative;
  background-color: var(--color-mistyrose);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
